.article-card {
	margin: 0 calc($grid-gutter-width * 0.5);
	border-radius: $border-radius;
	background-color: $secondary;
	box-shadow: $box-shadow-sm;
	display: block;
	text-decoration: none;
	transition: all ease 0.4s;
	height: 100%;
	display: flex;
	flex-direction: column;
	
	.card-image {
		overflow: hidden;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		position: relative;
		height: 288px;
	
		img {
			transition: all ease 0.4s;
			object-fit: cover;
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
	
	.card-content {
		padding: 16px;
	    position: relative;
	    display: flex;
	    flex-grow: 1;
	    flex-direction: column;
		
		.card-date {
			position: absolute;
			top: -1.25rem;
			background: $light;
			padding: .5rem 2rem;
			display: inline-block;
			font-weight: bold;
			color: color-contrast($light);
			font-size: 1rem;
			border-radius: $border-radius;
			box-shadow: $box-shadow-sm;
			transition: all ease 0.4s;
		}
		
		.card-title {
			font-size: 1.25rem;
			margin-top: 2rem;
			margin-bottom: 0;
			color: color-contrast($secondary);
		}
		
		.card-button {
			margin-top: auto;
		}
		
		& > hr {
			margin: 1rem 0;
			color: $light;
			opacity: 1;
			border-top: 5px solid;
			border-radius: $border-radius;
		}
		
		.card-text {
			color: color-contrast($secondary);
		}
	}
	
	&:hover {
		box-shadow: $box-shadow;
	
		.card-image {
			img {
				filter: brightness(0.50);
				transform: scale(1.1);
			}
		}
		
		.card-content {
			.card-date {
				background: $primary;
				color: color-contrast($primary);
			}
		}
	}
}

.article-slider {
	padding: 0;
	
	.splide__arrows {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		.splide__arrow {
			background: rgba($dark, 75%);
			border: 0;
			border-radius: 50%;
			padding: 8px;
			transition: all ease 0.4s;
			
			svg {
				fill: $light;
			}
			
			&:hover {
				background: $dark;
			}
			
			&:disabled {
				background: rgba($dark, 50%);
			}
		}
	}
	
	.splide__track {
		margin: 0 64px;
	
		.splide__slide {
			padding-bottom: 24px;
		}
	}

	.splide__pagination {
		position: relative;
		padding: 0;
		z-index: 2;
	
		.splide__pagination__page {
			background: lighten($dark, 20%);
			border-radius: 50%;
			width: 20px;
			height: 20px;
			border: unset;
			margin: 0 4px;
			transition: all ease 0.4s;
			
			&:hover {
				background: $info;
			}
			
			&.is-active {
				background: $dark;
			}
		}
	}
	
	@include media-breakpoint-down(lg) {
		.splide__arrows {
			.splide__arrow--prev {
				transform: scale(0.65);
			}
			
			.splide__arrow--next {			
				transform: scale(0.65);
			}
		}
		
		.splide__track {
			margin: 0;
		}
	}
}

.articles {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background: white;
	color: color-contrast(white);
	
	.preheading {
		text-transform: uppercase;
		font-size: 1rem;
		letter-spacing: 3px;
		font-weight: 700;
		display: block;
	}
	
	h2 {
		.highlight {
			display: block;
		}
	}
}